<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./view/main/main.css">

</head>
<body>
    <div id="item3" layout="row">

        <div id="item1" flex=80>First item in row</div>
        <div id="item2" flex="20">
            <md-whiteframe class="flex-tile" class="md-whiteframe-1dp" flex="100" layout layout-align="center center">
                <span>.md-whiteframe-1dp</span>
            </md-whiteframe>
            <md-whiteframe class="flex-tile" class="md-whiteframe-1dp" flex="100" layout layout-align="center center">
                <span>.md-whiteframe-1dp</span>
            </md-whiteframe>
            <md-whiteframe class="flex-tile" class="md-whiteframe-1dp" flex="100" layout layout-align="center center">
                <span>.md-whiteframe-1dp</span>
            </md-whiteframe>
        </div>

    </div>
</body>
</html>